
/* Common Styling */

body{
    background: #fff;
    color:#222;
    font-family: 'Roboto',Verdana,Helevetica;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6;
}

/* Layout */

main{
    max-width: 500px;
    margin: 10em auto 1em;
    padding: 1em;
}

li{
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}




/* Styling */

li a{
    text-decoration: none;
}

a{
    font-weight: 300;
    color: inherit;
    text-decoration: underline;
}

a:hover{
    opacity: 0.8;
}

h2{
    font-weight: 300;
}




